In [1]:
import os
import pickle as pkl

import pandas as pd

from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference
from pydeseq2.ds import DeseqStats

In [39]:
# Loading the data from package

In [2]:
DATA_PATH = "https://raw.githubusercontent.com/owkin/PyDESeq2/main/datasets/synthetic/"
counts_df = pd.read_csv(os.path.join(DATA_PATH, "test_counts.csv"), index_col=0)
counts_df = counts_df.T
counts_df

,gene1,gene2,gene3,gene4,gene5,gene6,gene7,gene8,gene9,gene10
sample1,12,21,4,130,18,0,16,54,49,3
sample2,1,44,2,63,11,10,70,32,57,9
sample3,4,4,11,180,21,3,28,34,65,2
sample4,1,10,2,100,44,9,28,16,33,9
sample5,1,11,6,135,16,2,32,29,31,5
...,...,...,...,...,...,...,...,...,...,...
sample96,7,26,3,67,11,4,41,44,54,1
sample97,1,14,3,71,33,5,19,42,25,4
sample98,10,36,2,72,11,2,66,27,16,9
sample99,18,14,3,66,53,11,32,19,79,11
sample100,21,9,3,42,13,13,19,78,30,5

In [3]:
metadata = pd.read_csv(os.path.join(DATA_PATH, "test_metadata.csv"), index_col=0)
metadata

          condition group
sample1           A     X
sample2           A     Y
sample3           A     X
sample4           A     Y
sample5           A     X
...             ...   ...
sample96          B     Y
sample97          B     X
sample98          B     Y
sample99          B     X
sample100         B     Y

[100 rows x 2 columns]

In [5]:
# Test functions
from pydeseq2.utils import test_valid_counts
test_valid_counts(counts_df)

In [15]:
from pydeseq2.utils import build_design_matrix

design_matrix = build_design_matrix(
            metadata=metadata,
            design_factors="condition",
            continuous_factors=None,
            ref_level=None,
            expanded=False,
            intercept=True,
        )
design_matrix

           intercept  condition_B_vs_A
sample1            1                 0
sample2            1                 0
sample3            1                 0
sample4            1                 0
sample5            1                 0
...              ...               ...
sample96           1                 1
sample97           1                 1
sample98           1                 1
sample99           1                 1
sample100          1                 1

[100 rows x 2 columns]

In [18]:
des_mat={}

In [20]:
des_mat["design_matrix"] = design_matrix